xml/parser2/src/main/resources/family.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="personType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string" minOccurs="0"/>
            <xs:element name="gender" type="xs:string" minOccurs="0"/>
            <xs:element name="spouse" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="parent" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="child" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="brother" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sister" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

</xs:schema>